.portfolio-area {
  padding-top: 90px;
  padding-bottom: 100px;
}
.portfolio-menu{
  margin-bottom: 20px;
}
.portfolio-menu ul li {
  font-size: 16px;
  font-weight: 700;
  color: #6c6c6c;
  line-height: 48px;
  padding: 0 30px;
  position: relative;
  display: inline-block;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
  margin: 0 2px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-menu ul li {
    font-size: 14px;
    padding: 0 26px;
  }
}
@media (max-width: 767px) {
  .portfolio-menu ul li {
    font-size: 14px;
    padding: 0 22px;
    line-height: 42px; 
  } 
}
.portfolio-menu ul{
  li{
    &::before{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: -webkit-linear-gradient(left, #43cae9 0%, #38f9d7 100%);
      background: -o-linear-gradient(left, #43cae9 0%, #38f9d7 100%);
      background: linear-gradient(to right, #43cae9 0%, #38f9d7 100%);
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      border-radius: 4px;
    }
    &:hover, &.active {
      color: $color1;
    }
    &:hover::before,&.active::before {
      opacity: 1;
    }
  }
}
.single-portfolio{
  position: relative;
  max-height: 220px;

  .portfolio-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: scale .5 ease;

    img {
      width: 100%;
      max-height: 220px;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }


    .portfolio-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      transition: all 0.5s ease-out 0s;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;

      .portfolio-content {
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        padding: 16px;
        opacity: 0;

        .portfolio-icon {
          position: relative;
          display: inline-block;
          margin: 0 20px;

          i {
            font-size: 48px;
            color: #38f9d7;
            position: relative;
            z-index: 5;
            line-height: 50px;
          }
          .shape {
            position: absolute;
            top: 7px;
            left: 0;
          }
        }
      }
    }
  }

  .portfolio-text {
    padding-top: 16px;
    position: absolute;
    left: 15px;
    bottom: 15px;

    .portfolio-title {
      color: #ffffff;
      font-size: 18px;
      line-height: 26px;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;

      &:hover{
        color: #38f9d7;
      }
    }

    .text {
      color: #121212;
      font-size: 14px;
      line-height: 20px;
      margin-top: 8px;
    }
  }

  &:hover{
    .portfolio-overlay {
      background-color: rgba(0, 0, 0, 0.75);

      .portfolio-content {
        opacity: 1
      }
    }
    .portfolio-image {
      img{
        transform: scale(1.2);
      }
    }
  }
}

.portfolio-2 {
  background-color: #f4f6f7;
}
