.navbar-area {
  background: none;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  &.sticky{
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid $color1;  

    .brand-diapo{
      display: none;
    }
    .brand-color{
      display: block;
    }
    .navbar{
      .navbar-nav{
        .nav-item{
          a{
            color: $color1;
          }
        }
      }
    }  
  }
  .brand-color{
    display: none;
  }
  .brand-diapo{
    display: block;
  }


  .navbar-brand{
    margin-left: 20px;
    img {
      max-width: 220px;
    }
  }
} 
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area {
    padding: 10px 0; 
  }
}
@media (max-width: 767px) {
  .navbar-area {
    padding: 10px 0;
  } 
}
.navbar-area .navbar {
  position: relative;
  padding: 0; 

  .navbar-toggler{
    .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: #121212;
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }

    &.active{
      .toggler-icon{
        &:nth-of-type(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 7px;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
          top: -7px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-collapse {
    position: absolute;
    top: 108%;
    left: 0;
    width: 100%;
    background-color: #f4f6f7;
    z-index: 8;
    padding: 10px 16px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  } 
}
@media (max-width: 767px) {
  .navbar-area .navbar .navbar-collapse {
    position: absolute;
    top: 108%;
    left: 0;
    right: 0;
    margin-left: -15px;
    margin-right: -15px;
    background-color: rgba(244,246,247,.9);
    z-index: 8;
    padding: 10px 16px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); 
  } 
}
    .navbar-area .navbar .navbar-nav {
      margin-right: 24px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area .navbar .navbar-nav {
          margin-right: 0; } }
      @media (max-width: 767px) {
        .navbar-area .navbar .navbar-nav {
          margin-right: 0; } }
      .navbar-area .navbar .navbar-nav .nav-item {
        position: relative; }
        .navbar-area .navbar .navbar-nav .nav-item a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          padding: 11px 16px;
          color: #fff;
          text-transform: uppercase;
          position: relative;
          border-radius: 5px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          margin: 14px 0; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block;
              border: 0;
              margin: 0; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block;
              border: 0;
              margin: 0; } }
          .navbar-area .navbar .navbar-nav .nav-item a::before {
            position: absolute;
            content: '';
            width: 32px;
            height: 4px;
            background-color: #fff;
            left: 50%;
            bottom: 0;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            -webkit-transform: translateX(-50%) scaleX(0);
            -moz-transform: translateX(-50%) scaleX(0);
            -ms-transform: translateX(-50%) scaleX(0);
            -o-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0); }
            .sticky .navbar-area .navbar .navbar-nav .nav-item a::before {
              background-color: $color1;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .navbar-area .navbar .navbar-nav .nav-item a::before {
                display: none; } }
            @media (max-width: 767px) {
              .navbar-area .navbar .navbar-nav .nav-item a::before {
                display: none; } }
        .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
          -webkit-transform: translateX(-50%) scaleX(1);
          -moz-transform: translateX(-50%) scaleX(1);
          -ms-transform: translateX(-50%) scaleX(1);
          -o-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1); }
        .navbar-area .navbar .navbar-nav .nav-item .sub-menu {
          position: absolute;
          right: 0;
          top: 100%;
          width: 260px;
          background-color: #fff;
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          z-index: 99;
          -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              display: none;
              right: auto;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
              -webkit-transition: all none ease-out 0s;
              -moz-transition: all none ease-out 0s;
              -ms-transition: all none ease-out 0s;
              -o-transition: all none ease-out 0s;
              transition: all none ease-out 0s;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              text-align: left;
              border-top: 0; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu {
              position: relative !important;
              width: 100% !important;
              left: 0 !important;
              top: auto !important;
              opacity: 1 !important;
              visibility: visible !important;
              display: none;
              right: auto;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
              -webkit-transition: all none ease-out 0s;
              -moz-transition: all none ease-out 0s;
              -ms-transition: all none ease-out 0s;
              -o-transition: all none ease-out 0s;
              transition: all none ease-out 0s;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              text-align: left;
              border-top: 0; } }
          .navbar-area .navbar .navbar-nav .nav-item .sub-menu li {
            position: relative; }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-nav-toggler {
              color: #121212;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s; }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a {
              display: block;
              padding: 8px 24px;
              position: relative;
              color: #121212;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s;
              border-radius: 0;
              margin: 0 0; }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
                float: right;
                font-size: 14px;
                margin-top: 5px; }
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
                    display: none; } }
                @media (max-width: 767px) {
                  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
                    display: none; } }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
                display: inline-block; }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0px;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 100%);
                background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 100%);
                background: linear-gradient(to right, #0067f4 0%, #2bdbdc 100%);
                opacity: 0;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
                z-index: -1; }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a::before {
                display: none; }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
              right: auto;
              left: 100%;
              top: 0;
              opacity: 0;
              visibility: hidden;
              -webkit-transition: all 0.3s ease-out 0s;
              -moz-transition: all 0.3s ease-out 0s;
              -ms-transition: all 0.3s ease-out 0s;
              -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s; }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
                  padding-left: 30px; } }
              @media (max-width: 767px) {
                .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
                  padding-left: 30px; } }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
              opacity: 1;
              visibility: visible; }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
              color: #fff; }
            .navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
              color: #fff; }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a::after {
                opacity: 1; }
              .navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a::before {
                opacity: 1; }
        .navbar-area .navbar .navbar-nav .nav-item:hover .sub-menu {
          opacity: 1;
          visibility: visible; }
        .navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
          display: none; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: #fff; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              padding: 10px 14px;
              font-size: 16px;
              background: none;
              border: 0;
              color: #fff; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 11px; } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 11px; } }
    .navbar-area .navbar .navbar-btn .menu-bar {
      font-size: 32px;
      position: relative;
      overflow: hidden;
      color: #fff;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
  .navbar-area.navbar-transparent {
    background: transparent; }
    .navbar-area.navbar-transparent .navbar .navbar-toggler .toggler-icon {
      background-color: #fff; }
    .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
      color: #fff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
          color: #121212; } }
      @media (max-width: 767px) {
        .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
          color: #121212; } }
      .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a::before {
        background-color: #38f9d7; }
    .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item.active a, .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item:hover a {
      color: #38f9d7; }
    .navbar-area.navbar-transparent .navbar .navbar-btn .menu-bar {
      color: #fff; }
      .navbar-area.navbar-transparent .navbar .navbar-btn .menu-bar:hover {
        color: #38f9d7; }
    .navbar-area.navbar-transparent.sticky {
      background-color: #fff; }
      .navbar-area.navbar-transparent.sticky .navbar .navbar-toggler .toggler-icon {
        background-color: #121212; }
      .navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item a {
        color: #121212; }
      .navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item.active a, .navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item:hover a {
        color: #38f9d7; }
      .navbar-area.navbar-transparent.sticky .navbar .navbar-btn .menu-bar {
        color: #121212; }
        .navbar-area.navbar-transparent.sticky .navbar .navbar-btn .menu-bar:hover {
          color: #38f9d7; }
  .navbar-area.navbar-transparent-2 {
    background: transparent; }
    .navbar-area.navbar-transparent-2 .navbar .navbar-toggler .toggler-icon {
      background-color: #fff; }
    .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
      color: #121212; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
          color: #121212; } }
      @media (max-width: 767px) {
        .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
          color: #121212; } }
      .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a::before {
        background-color: #38f9d7; }
    .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item.active a, .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item:hover a {
      color: #38f9d7; }
    .navbar-area.navbar-transparent-2 .navbar .navbar-btn .menu-bar {
      color: #fff; }
      .navbar-area.navbar-transparent-2 .navbar .navbar-btn .menu-bar:hover {
        color: #38f9d7; }
    .navbar-area.navbar-transparent-2.sticky {
      background-color: #fff; }
  .navbar-area.sticky {
    position: fixed;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 5px 0; }