@mixin radius($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value; 
  border-radius: $value;
}


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Preload
@import 'preload';

// Navbar
@import 'navbar';

// Carousel
@import 'carouselTop';

// Galery
@import 'galery';

a{
	color: $color1;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
body{
	font-family: 'Josefin Sans', sans-serif;
	*{
		box-sizing: border-box;
	}
}

.btn-primary{
	border: none;
	background: $color1;
	color: #ffffff;
	text-transform: uppercase;
	@include radius(6px);
}
.btn-primary:hover{
	background: darken($color1,5%);
}

.btn-default{
	border: 1px solid $color1;
	background: #ffffff;
	color: #333333;
	text-transform: uppercase;
	@include radius(6px);
}
.btn-default:hover{
	background: darken(#ffffff,5%);
}

td{
	.btn{
		padding: 0.15em 0.7em;
    	font-size: 12px;
	}
	form{
		.form-group{
			padding-bottom: 0;
		}
	}
}
.card{
	.card-header{
		font-size: 20px;
	}
	.card-body{
		.title{
			font-size: 24px;
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			text-align: center;
		}
	}

}
.home{
	.card-body{
		text-align: center;
		p{
			text-align: center;
			display: block;
			font-size: 18px;
		}
	}
}

body.backend{
	form{
		.form-group{
			padding-bottom: 30px;
		}
		#coverimg{
			border: 1px solid #dfdfdf;
			border-radius: 10px;
			overflow: hidden;
		}
	}
}

.filterarea{
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fafafa;
	margin-bottom: 20px;

	.filter{
		display: flex;
		align-items: center;
		justify-content: flex-end;

		label,input{
			margin-right: 5px;
		}
		button{
			height: 38px;
		}
	}
}

body#front{
	#mainNav{
		.navbar-nav .nav-item{
			a {
			    font-size: 16px;
			    line-height: 24px;
			    font-weight: 700;
			    padding: 11px 16px;
			    color: $color1;
			    text-transform: uppercase;
			    position: relative;
			    border-radius: 5px;
			    transition: all 0.3s ease-out 0s;
			    margin: 14px 0;
			}
		}
	}
	iframe{
		width: 100%;
		height: 500px;
		@include radius(12px);
	}
	#galery{
		a{
			color: #333333;
			text-decoration: none;
		}
		.card{
			margin-bottom: 20px;
			border: none;
			
			.wrap-image{
				@include radius(8px);
				overflow: hidden;
				position: relative;

				img{
					@include radius(8px);
				}
				.portfolio-overlay{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.3);
					transition: background .3s ease;

					.portfolio-icon{
						color: #ffffff;
						opacity: .3;
					}
				}

				&:hover{
					.portfolio-overlay{
						background: rgba(0,0,0,.6);

						.portfolio-icon{
							opacity: 1;
						}
					}
				};
			}
			
			.card-title{
				font-weight: bold;
			}
			.card-body{
				padding: 5px 0;
				height: 60px;
			}
		}
	}
}

@media all and (min-width: 767px){
	body#front{
		iframe{
			height: 720px;
			width: 100%;
		}
	}
}

body.front{
	color: $colorText;
	background: $color1;

	&.interna{
		background: #ffffff;

		.infotour{
			padding-top: 30px;
			padding-bottom: 30px;

			h2{
				padding-bottom: 15px;
				display: inline-block;
			}

			span.tag{
				background: #dfdfdf;
				padding: 5px 10px;
				border-radius: 4px;
				display: inline-block;
				margin: 0 5px 0 10px;
				top: -3px;
    			position: relative;
			}
		}

		.title{
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 10px;
			line-height: 24px;
		}
		.tourarea{
			
		}
		.accordion{
			.card{
				border: none;

				.card-header{
					background: #fdfdfd;
					border-top: 1px solid $color1;

					.showhide{
						display: block;

						i{
							font-size: 28px;
						}
						.fa-minus-square-o{
							display: block;
						}
						.fa-plus-square-o{
							display: none;
						}
						.title{
							float: left;
							color: $colorText;
							font-weight: normal;
						}
						&.collapsed{
							.fa-minus-square-o{
								display: none;
							}
							.fa-plus-square-o{
								display: block;
							}
						}
					}
				}
			}
		}
	}

	h3{
		font-size: 28px;
	}
	

	#beneficios{
		position: relative;
		z-index: 1;
		padding-bottom: 80px;

		h3{
			color: #ffffff;
			padding: 40px;
		}

		.item{
			color: #ffffff;
			text-align: center;
			margin-bottom: 30px;
			img{
				display: block;
				margin: 0 auto 10px auto;
			}
			p{
				padding: 15px;
				color: #ffffff;
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	@media all and (min-width: 768px){
		#beneficios{
			.item{
				p{
					padding: 0;
				}
			}
		}
	}
	#interactividad{
		color: #ffffff;
		position: relative;

		h3{
			color: #ffffff;
			font-size: 22px;
			padding-bottom: 20px;
    		line-height: 26px;
    		text-align: center;
		}
		&:before{
			content:'';
			height: 33%;
			width: 100%;
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			background: #ffffff;
			z-index: 0;
		}
		.video-cover{
			overflow: hidden;
			
			a{
				display: flex;
				align-items: center;
				justify-content: center;

				&:before{
					content:'';
					height: 100%;
					position: absolute;
					top: 0;
					left: 15px;
					right: 15px;
					background: rgba(0,0,0,.7);
					z-index: 1;
					border-radius: 30px
				}
				&:hover{
					.play{
						opacity: 1;
					}
				}

				.play{
					display: block;
					height: 48px;
					width: 43px;
					opacity: .85;
					transition: opacity .5 ease;
					position: absolute;
	    			z-index: 2;
				}
				.cover{
					border-radius: 30px;
				}
			}
			

		}
	}
	@media all and (min-width: 768px){
		#interactividad{
			h3{
				font-size: 26px;
				line-height: 32px;
				text-align: left;
			}
		}
	}
	#galeria{
		background: #ffffff;
		h3{
			color: $color1;
		}

		.view_all{
			font-size: 20px;
			display: block;
			font-weight: bold;
			padding-top: 20px; 

			.fa{
				position: relative;
				top: 2px;
			}
		}
		
	}
	.bottom{
		padding-top: 30px;
		padding-bottom: 30px;
		background: url(../img/bg_bottom.jpg) no-repeat scroll 50% 50%;
		background-size: cover;
		background-attachment: fixed;
		position: relative;

		&:after{
	        content:'';
	        width: 100%;
	        height: 100%;
	        position: absolute;            
	        top: 0;
	        left: 0;
	        background: transparentize($color1,.4);
	        z-index: 1;
	    }
	    &:before{
	        content:'';
	        width: 100%;
	        height: 300px;
	        position: absolute;
	        bottom: 0;
	        left: 0;
	        background: $color1;
	        background: linear-gradient(0deg, $color1 0%, transparentize($color1,1) 100%);
	        z-index: 2;
      	}
      	.copyright{
      		color: #ffffff;
      		position: relative;
      		z-index: 2;
      		padding-top: 30px;
      		font-size: 16px;
      	}
	}
	#como-funciona{
		position: relative;
		z-index: 3;
		padding-bottom: 40px;
		
		h3{
			color: #ffffff;
			padding: 40px;
		}
		.step{
			position: relative;
			padding-top: 0;
			margin-bottom: 40px;

			figure{
				position: relative;
				top: 0;
				left: inherit;
				width: 100px;
				height: 100px;
				margin: 0 auto;
				@include radius(50%);
				background: $color1;
				color: #ffffff;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;
				margin: 0 auto 20px auto;

				&:after{
					font-size: 60px;
					font-weight: bold;
					color: rgba(31,86,102,.65);
					position: absolute;
					top: -20px;
					right: 0;
				}
			}

			&#idea figure:after{
				content: '1';
			}
			&#accion figure:after{
				content: '2';
			}
			&#publicar figure:after{
				content: '3';
			}

			p{
				color: #FFFFFF;
				font-size: 16px;
				padding: 0;
				text-align: center;

				&.title{
					font-size: 20px;
					font-weight: bold;
				}
			}
		}
	}
	@media all and (min-width: 1200px){
		#como-funciona{
			.step{
				padding-top: 20px;

				figure{
					position: absolute;
					left: 0;
					margin: 0;
				}
				p{
					padding: 0 0 0 110px;
					text-align: left;
				}
			}
		}
	}
	#contacto{
		background: #ffffff;
		position: relative;
		z-index: 2;
		padding-bottom: 40px;
		@include radius(0);



		h3{
			color: $colorText;
			padding: 40px;
		}
		.links{
			a{
				color: $color1;
				text-decoration: none;
				opacity: 1;
				transition: opacity .5s ease;
				margin: 0 15px;
				display: inline-block;

				&:hover{
					opacity:.8;
				}
			}
		}		
	}
	@media all and (min-width: 768px){
		#contacto{
			@include radius(10px);
		}
	}
}