.slider-area{
  margin-bottom: 0;
  z-index: -1;
  height: 100vh;
  position: relative;

	.carousel{
    height: 100vh;
    .carousel-inner {
  	 background-color: #38f9d7; 
    }
  
    .carousel-item {
    	height: 50vh;
      background-attachment: fixed;

      &:before{
        content:'';
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color1;
        background: linear-gradient(0deg, $color1 0%, transparentize($color1,1) 100%);
        z-index: 2;
      }
      &:after{
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;            
        top: 0;
        left: 0;
        background: transparentize($color1,.4);
        z-index: 1;
      }
    }
	}
  .hero-text{
    position: absolute;
    top: inherit;
    left: inherit;
    bottom: 0;
    display: block;
    background: #FFFFFF;
    color: #333333;
    width: inherit;
    height: auto;
    z-index: 20;
    padding: 30px;
    text-align: center;
    h2{
      font-size: 24px;
      line-height: 28px;
      width: inherit;
      margin: 0 auto 30px auto;
      padding: 0;
    }
    p{
      color: #333333;
      font-size: 18px;
      line-height: 20px;
    }
    .btn{
      margin: 20px 0 0 0;
      font-size: 20px;
    }
  }
	
}

@media all and (min-width: 768px){
  .slider-area{
    margin-bottom: 0;
    height: auto;

    .carousel{
      height: auto;
      .carousel-inner {    
        .carousel-item {
          height: 100vh;
        }
      }
    }

    .hero-text{
      position: absolute;
      top: 50vh;
      left: 50%;
      margin: -275px 0 0 -275px;
      width: 550px;
      height: 550px;
      padding: 70px 0px;
      @include radius(50%);
      h2{
        font-size: 36px;
        line-height: 40px;
        width: 435px;
        padding: 0;
      }
      p{
        font-size: 20px;
        line-height: 22px;
        padding: 0 40px;
      }
      .btn{
        margin: 30px 0 0 0;
      }
      &:before{
        width: 200px;
        height: 200px;
        display: block;
        background: blue;
        @include radius(50%);
      };
    }
  }

}
@media all and (min-width: 992px){
  .slider-area{
    margin-bottom: -200px;

    .carousel{
      .carousel-inner{
        .carousel-item {
          height: 1000px;
        }
      }
    }

    .hero-text{
      top: 120px;
      left: 120px;
      margin: 0;
    }
  }
}

      .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        left: 0; }
        .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
          font-size: 44px;
          font-weight: 700;
          color: #fff;
          line-height: 55px; }
          @media (max-width: 767px) {
            .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
              font-size: 24px;
              line-height: 32px; } }
        .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
          display: inline-block;
          margin: 16px 8px 0; }
          @media (max-width: 767px) {
            .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
              margin: 16px 3px 0; } }
          .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-three {
            border: 0; }
          .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-one {
            border-color: #fff;
            color: #fff; }
            .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-one:hover {
              background-color: rgba(255, 255, 255, 0.3); }
  .slider-area .bd-example .carousel .carousel-control-prev, .slider-area .bd-example .carousel .carousel-control-next {
    top: 50%;
    width: auto;
    height: auto;
    font-size: 70px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    left: 0px;
    opacity: 0;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .slider-area .bd-example .carousel .carousel-control-prev, .slider-area .bd-example .carousel .carousel-control-next {
        left: 30px;
        font-size: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .slider-area .bd-example .carousel .carousel-control-prev, .slider-area .bd-example .carousel .carousel-control-next {
        left: 30px;
        font-size: 50px; } }
    @media (max-width: 767px) {
      .slider-area .bd-example .carousel .carousel-control-prev, .slider-area .bd-example .carousel .carousel-control-next {
        left: 20px;
        font-size: 20px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .slider-area .bd-example .carousel .carousel-control-prev, .slider-area .bd-example .carousel .carousel-control-next {
        font-size: 34px; } }
  .slider-area .bd-example .carousel .carousel-control-next {
    right: 0px;
    left: auto; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .slider-area .bd-example .carousel .carousel-control-next {
        right: 40px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .slider-area .bd-example .carousel .carousel-control-next {
        right: 40px; } }
    @media (max-width: 767px) {
      .slider-area .bd-example .carousel .carousel-control-next {
        right: 20px; } }
  .slider-area .bd-example .carousel .carousel-indicators {
    width: 8px;
    height: 50px;
    z-index: 15;
    display: block;
    list-style: none;
    margin: 0 70px 0 0;
    top: 400px;
    right: 0; 
    bottom: 0;
    list-style: none;
    left: inherit;
    
      li{
        width: 8px;
        height: 8px;
        margin: 3px 0;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        border: 0;
        opacity: .95;
        &.active{
          height: 16px;
          background-color: #fff;
          border-radius: 5px;
          opacity: 1;
        }
      }
  }
    
      
  .slider-area .bd-example .carousel:hover .carousel-control-prev {
    left: 70px;
    opacity: 1; }
  .slider-area .bd-example .carousel:hover .carousel-control-next {
    right: 70px;
    opacity: 1; }

.slider-3 {
  padding-top: 0px; }
  .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
    height: 850px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
        height: 650px; } }
    @media (max-width: 767px) {
      .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
        height: 550px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
        height: 650px; } }

.carousel-indicators{
  transform: rotate(90deg);
  left: inherit;
  bottom: inherit;
  top: 50%;
  margin-top: -50px;
  margin-right: 20px;
}